<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.personal.dao.puestbookMapper">

<!-- 전달된 Person 객체의 값을 DB에 저장 -->
<insert id="insert" parameterType="puestbook">
	insert into
		puestbook
		(
		seqno
		, guestname
		, savedfilename
		,regdate
		, text
		)
	values 
		(
			guestbook_seq.nextval
			, #{guestname}
			, #{savedfilename}
			, sysdate
			, #{text}
		)
</insert>
	
	<delete id="delete" parameterType="puestbook">
	
	DELETE  
	from
	puestbook
	WHERE 
		seqno = #{seqno}
	
	</delete>
	
	<select id="selectAll" resultType="puestbook">
	select 
	* 
	from  puestbook
	order by
		seqno desc
	</select>
		
<!-- 	<update id="modiPerson" parameterType="map">
		update person
		set 
		name= #{person.name}
		,age = #{person.age}
		,address=#{person.address}
		
		where name = #{firstName}
	
	</update> -->

</mapper>
